<header class="site-header">
    <div class="top-bar">
        <div class="welcome-message" id="welcomeMessage"></div>
        <a href="tel:0988265914" class="phone-number">📞 0988 265 914</a>
        <div class="social-icons">
            <a href="#"><img src="images/youtube.png" alt="YouTube"></a>
            <a href="#"><img src="images/zalo.png" alt="Zalo"></a>
            <a href="#"><img src="images/facebook.png" alt="Facebook"></a>
        </div>
        <div class="search-container">
            <input type="search" placeholder="Tìm kiếm nhanh">
        </div>
    </div>

    <div class="logo-bar">
        <a href="/" class="logo">
            <img src="images/logo.png" alt="DURAFlex">
        </a>
        <a href="mailto:dunvex.green@gmail.com" class="contact-email">
            dunvex.green@gmail.com
        </a>
        <button class="hamburger-menu">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>

    <nav class="nav-links">
        <ul>
            <li><a href="ungdung">ỨNG DỤNG</a></li>
            <li><a href="sanpham">SẢN PHẨM</a></li>
            <li><a href="banggia">BẢNG GIÁ</a></li>
            <li><a href="ytuong">Ý TƯỞNG</a></li>
            <li><a href="hethong">HỆ THỐNG PHÂN PHỐI</a></li>
        </ul>
    </nav>
</header>